.container {
	width: 25%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	padding: 100px;
	border: 6px solid #000;
	border-radius: 10px;
	.title {
		background-color: #aaa;
		padding: 10px;
		letter-spacing: 5px;
		border-radius: 2px 5px;
	}
	.username,
	.password {
		text-align: center;
		padding: 5px;
		width: 100%;
		display: flex;
		align-items: center;
		input {
			height: 2em;
			margin-left: 10px;
		}
	}
	.button-group {
		width: 100%;
		margin-top: 10px;
		padding: 10px;
		display: flex;
		justify-content: center;
		.btn {
			width: 100px;
			padding: 5px;
			margin: 5px;
			font-size: 1rem;
			border: 2px solid #eee;
			font-weight: 900;
			border-radius: 5px;
		}
		.btn:hover {
			background-color: #aaa;
			transition: 1s;
		}
	}
	.success {
		padding: 10px;
	}
}
